/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* VARIABLES CSS */
:root{
    --header-height: 3rem;
    --font-semi:600
}

/* COLOURS */
:root{
    --first-color: #4070f4;
    --second-color: #0E2431;
}


/* FONT COLOR */
:root{
    --body-font: 'Roboto', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}
@media screen and (min-width:768px){
    :root{
    --big-font-size: 2rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem; 
    }
}

/* MARGINS */
:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}