*{
    font-family: sans-serif;
    list-style: none;
    padding: 0;
}

body{
    background: #333;
}


/* SKILLS SECTION */

.skills{
    width: 500px;
    margin: 60px auto;
    color: white;
}

.skills li{
    margin: 20px 0;
}
.bar{
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius:3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
    height: 2px;
    float: left;
    background: #2187e7;
}

.htmlcss{
    width: 70%;
    animation: htmlcss 2s;
}

.javascript{
    width: 65%;
    animation: javascript 2s;
}

.python{
    width: 50%;
    animation: python 2s;
}

.java{
    width: 25%;
    animation: java 2s;
}

@keyframes htmlcss{
    0%{
        width: 0%;
    }  
    100%{
        width: 70%
    }
}

@keyframes javascript{
    0%{
        width: 0%;
    }  
    100%{
        width: 65%
    }
}

@keyframes python{
    0%{
        width: 0%;
    }  
    100%{
        width: 50%
    }
}

@keyframes java{
    0%{
        width: 0%;
    }  
    100%{
        width: 25%
    }
}